<div class="body">
  <div class="btn-container">
    <button (click)="addNew({ msg: 'Nuevo mensaje', type: 'default', id: '' }, 'bottom-center')">Añadir default</button>
    <button (click)="addNew({ msg: 'Nueva alerta', type: 'warning', id: '' }, 'bottom-center')">Añadir warning</button>
    <button (click)="addNew({ msg: 'Nuevo error', type: 'error', id: '' }, 'bottom-center')">Añadir error</button>
    <button (click)="addNew({ msg: 'Nuevo info', type: 'info', id: '' }, 'bottom-center')">Añadir info</button>
    <!-- <button (click)="addNew({ msg: 'Nuevo mensaje', type: 'default' }, 'bottom-center')">Añadir item abajo centro</button>
    <button (click)="addNew({ msg: 'Nuevo mensaje', type: 'default' }, 'bottom-right')">Añadir item abajo dcha</button> -->
  </div>
</div>
<app-toaster [msgArr]="arr" [position]="pos"></app-toaster>