.box {
  height: calc(5rem - 24px);
  width: 24rem;
  border-radius: 8px;
  padding: 12px 24px;
  border: 1px solid var(--border);

  overflow: hidden;
  visibility: hidden;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);

  animation-duration: 0.2s;
  animation-timing-function: ease-out;
  transition-property: top, bottom, left, width;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;

  
  display: flex;
  gap: 24px;
  align-items: center;
  justify-content: space-between;
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0rem;
  flex: 1;
}



.header-msg{
  font-weight: 500;
  color: var(--text);
}

.msg {
  font-size: 0.75rem;
  font-weight: 400;
  color: var(--text);
}

.btn {
  padding: 0.35rem 0.7rem;
  background-color: var(--main);
  color: var(--text);
  border: 1px solid var(--border);
  border-radius: 0.25rem;

  &:hover{
    cursor: pointer;
    background-color: var(--hover);
  }
}

.visible {
  visibility: visible;
}

.bottom{
  animation-name: AppearBottom;
  box-shadow: 0px 0px 12px 2px rgba(0, 0, 0, 0.5);
  margin-bottom: 8px;
  background-image: linear-gradient(0deg, var(--gradient-start), var(--main));
  
  &.lastBox-1{
    bottom: 0;
    width: 24rem;

  }

  &.lastBox-2{
    bottom: 0.5rem;
    width: 23rem;

  }

  &.lastBox-3{
    bottom: 0.95rem;
    width: 22rem;

  }

  &.life-end{
    animation-name: DisappearBottom;
  animation-duration: 0.25s;
  animation-timing-function: ease-out;

  &.lastBox-1{
    animation-name: DisappearBottomLast;
  }
  }
}

.top{
  animation-name: AppearTop;
  box-shadow: 0px 0px 12px 2px rgba(0, 0, 0, 0.25);
  margin-top: 8px;
  background-image: linear-gradient(180deg, var(--gradient-start), var(--main));
  
  &.lastBox-1{
    top: 0;
    width: 24rem;
  }

  &.lastBox-2{
    top: 0.5rem;
    width: 23rem;
  }

  &.lastBox-3{
    top: 0.95rem;
    max-width: 22rem;
  }

  &.life-end{
    animation-name: DisappearTop;
    animation-duration: 0.25s;
    animation-timing-function: ease-out;

    &.lastBox-1{
      animation-name: DisappearTopLast;
    }
  }
}


@keyframes AppearBottom {
  0% {
    transform: translate(-50%, 50px);
  }
  100% {
    transform: translate(-50%, 0px);
  }
}

@keyframes DisappearBottom {
  0% {
    transform: translate(-50%, 0px);
    opacity: 1;
  }
  100% {
    transform: translate(-50%, 12px);
    opacity: 0;
  }
}

@keyframes DisappearBottomLast {
  0% {
    transform: translate(-50%, 0px);
    opacity: 1;
  }
  100% {
    transform: translate(-50%, 50px);
    opacity: 0;
  }
}

@keyframes AppearTop {
  0% {
    transform: translate(-50%, -50px);
  }
  100% {
    transform: translate(-50%, 0px);
  }
}

@keyframes DisappearTop {
  0% {
    transform: translate(-50%, 0px);
    opacity: 1;
  }
  100% {
    transform: translate(-50%, -12px);
    opacity: 0;
  }
}

@keyframes DisappearTopLast {
  0% {
    transform: translate(-50%, 0px);
    opacity: 1;
  }
  100% {
    transform: translate(-50%, -50px);
    opacity: 0;
  }
}