/* Aspecto general de la caja */
.box {
    height: 50%;
    width: 24rem;
    border-radius: 8px;

    background-color: white;
    color: black;
    overflow: hidden;
    visibility: hidden;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
  
    animation-duration: 0.2s;
    animation-timing-function: ease-out;
    transition-property: top, bottom, left, width;
    transition-duration: 0.2s;
    transition-timing-function: ease-out;
  
    
    display: grid;
    grid-template-rows: 1fr 4px;
    align-items: center;
    justify-items: left;
  }

  .content {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  
  .msg {
    margin-left: 16px;
  }
  
  .close-btn {
    margin-right: 16px;
  }

  .visible {
    visibility: visible;
  }

  .bottom{
    animation-name: AppearBottom;
    box-shadow: 0px -5px 15px 0px rgba(0, 0, 0, 0.1);
    margin-bottom: 8px;
    
    &.lastBox-1{
      bottom: 0;
      width: 30rem;
    }

    &.lastBox-2{
      bottom: 0.5rem;
      width: 29rem;
    }

    &.lastBox-3{
      bottom: 0.95rem;
      width: 28rem;
    }

    &.life-end{
      animation-name: DisappearBottom;
    animation-duration: 0.25s;
    animation-timing-function: ease-out;

    &.lastBox-1{
      animation-name: DisappearBottomLast;
    }
    }
  }

  .top{
    animation-name: AppearTop;
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.1);
    margin-top: 8px;
    
    &.lastBox-1{
      top: 0;
      width: 30rem;
    }

    &.lastBox-2{
      top: 0.5rem;
      width: 29rem;
    }

    &.lastBox-3{
      top: 0.95rem;
      width: 28rem;
    }

    &.life-end{
      animation-name: DisappearTop;
      animation-duration: 0.25s;
      animation-timing-function: ease-out;

      &.lastBox-1{
        animation-name: DisappearTopLast;
      }
    }
  }
  
  
  @keyframes AppearBottom {
    0% {
      transform: translate(-50%, 50px);
    }
    100% {
      transform: translate(-50%, 0px);
    }
  }
  
  @keyframes DisappearBottom {
    0% {
      transform: translate(-50%, 0px);
      opacity: 1;
    }
    100% {
      transform: translate(-50%, 12px);
      opacity: 0;
    }
  }

  @keyframes DisappearBottomLast {
    0% {
      transform: translate(-50%, 0px);
      opacity: 1;
    }
    100% {
      transform: translate(-50%, 50px);
      opacity: 0;
    }
  }

  @keyframes AppearTop {
    0% {
      transform: translate(-50%, -50px);
    }
    100% {
      transform: translate(-50%, 0px);
    }
  }
  
  @keyframes DisappearTop {
    0% {
      transform: translate(-50%, 0px);
      opacity: 1;
    }
    100% {
      transform: translate(-50%, -12px);
      opacity: 0;
    }
  }

  @keyframes DisappearTopLast {
    0% {
      transform: translate(-50%, 0px);
      opacity: 1;
    }
    100% {
      transform: translate(-50%, -50px);
      opacity: 0;
    }
  }
  





  .timeline {
    width: 100%;
    height: 4px;
    background-color: green;
    align-self: flex-end;
  
    animation-name: Timeline;
    animation-duration: var(--time);
    /* animation-duration: var(--time); */
    animation-timing-function: linear;
  }
  
  @keyframes Timeline {
    from {
      width: 0%;
    }
    to {
      width: 100%;
    }
  }
  

  
  /* TODO Cambiar animaciones para cuando se situa arriba sea a la inversa */