.container-absolute {
    position: absolute;
    bottom: 0rem;
    width: fit-content;
    height: fit-content;
  }
  
  .container-relative {
    position: relative;
    height: auto;
    width: 30rem;
  }

  .top {
    top: 0;
  }

  .bottom{
    bottom: 0;
  }

  .left{
    left: 0;
    margin-left: 8px;
  }

  .center{
    left: 50%;
    transform: translateX(-50%);
  }

  .right{
    right: 0;
    margin-right: 8px;
  }