<div class="container-absolute"
[class.top]="position === 'top-left' || position === 'top-center' || position === 'top-right'"
[class.bottom]="position === 'bottom-left' || position === 'bottom-center' || position === 'bottom-right'"
[class.left]="position === 'bottom-left' || position === 'top-left'"
[class.center]="position === 'bottom-center' || position === 'top-center'"
[class.right]="position === 'bottom-right' || position === 'top-right'"
>
    <div class="container-relative">
    <app-toaster-item 
      *ngFor="let msg of msgArr; let i=index" 
      [toastItem]="msg" 
      [visible]="i >= msgArr.length-3" 
      [lastBox1]="msgArr.length-1 === i" 
      [lastBox2]="msgArr.length-2 === i" 
      [lastBox3]="msgArr.length-3 === i"
      (delete)="deleteMsg(i)"
      [duration]="duration"
      [position]="position"
    ></app-toaster-item>
    </div>
  </div>  